/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f7fa;
    color: #222;
    padding-bottom: 50px;
}

/* Header */
.header {
    background: #4a90e2;
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 1.1rem;
    opacity: 0.9;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.primary-btn {
    background: #4CAF50;
}

.primary-btn:hover {
    background: #449d48;
}

.small-btn {
    background: #333;
    font-size: 0.9rem;
}

.small-btn:hover {
    background: #111;
}

/* Home Page */
.home-container {
    display: flex;
    justify-content: center;
}

.home-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Forms */
.form-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

input:focus {
    border-color: #4a90e2;
    outline: none;
}

.error-msg {
    color: red;
    font-size: 0.85rem;
    height: 14px;
    display: block;
}

/* Patient list */
.patient-list ul {
    list-style-type: none;
    margin-top: 15px;
}

.patient-list li {
    background: #eef3f8;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    border-left: 4px solid #4a90e2;
    position: relative;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patient-list li:hover {
    cursor: pointer;
    background: #9ac0e6;
    font-weight: bold;
    border-right: 4px solid #4a90e2;
}

.patient button {
    border-radius: 4px;
    padding: 0.5em 1em;
    background-color: rgb(238, 71, 71);
    color: white;
    border: none;
}

.patient button:hover {
    background-color: rgb(250, 1, 1);
    cursor: pointer;
}

.patient-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.patient-details ul {
    margin-top: 0.5em;
    padding-left: 1em;
}

